/* Importación de la fuente Raleway */
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

/* Estilos CSS para la paleta de colores, fuente y estilos generales */
:root {
    /* Paleta de colores */
    --color-de-botones: #2a7ae4;
    --color-de-fondo: #fff5ee;
    --color-de-fondo-secundario: #EAF2FD;
    --color-de-fondo-terciario: #ffffff;
    --color-de-letra: #464646;

    /* Fuente de letra */
    --fuente-raleway: "Raleway", sans-serif;
}

/* Estilos generales aplicados a todos los elementos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos aplicados al html */
html {
    scroll-behavior: smooth;
}

/* Estilos aplicados al cuerpo */
body {
    background-color: var(--color-de-fondo-terciario);
    color: var(--color-de-letra);
    font-family: var(--fuente-raleway);
    min-height: 100vh;
}

/* -------- Fin de Estilos generales -------- */

/* -------- Desarrollo Mobile -------- */

/* Estilos para la cabecera y su contenido */
.container-cabecera {
    align-items: center;
    background-color: var(--color-de-fondo-terciario);
    display: flex;
    gap: 30px;
    justify-content: space-between;
    min-height: 56px;
    padding: 8px;
    position: relative;
    width: 100%;
}

/* Estilos para el contenedor del logo y título */
.container-logo-title {
    align-items: center;
    display: flex;
}

/* Estilos para el logo en la cabecera */
.logo-cabecera {
    height: 40px;
    width: 40px;
}

/* Estilos para el título en la cabecera */
.title-cabecera {
    font-size: 12px;
    font-weight: bold;
}

/* Estilos para la lista del menú */
.menu-lista {
    list-style: none;
}

/* Estilos para los elementos del menú */
.menu-item:nth-child(1),
.menu-item:nth-child(2),
.menu-item:nth-child(3),
.menu-item:nth-child(4),
.menu-item:nth-child(5) {
    display: none;
}

/* Estilos para el enlace de contacto en el menú */
.menu-contacto-link {
    font-size: 10px;
    font-weight: bold;
}

/* Estilos para los enlaces del menú */
.menu-link {
    color: var(--color-de-letra);
    text-decoration: none;
}

/* -------- Fin de Estilos de Desarrollo Mobile -------- */

/* -------- Estilos de Presentación -------- */

/* Estilos para la presentación y su contenido */
.container-presentacion {
    display: flex;
    flex-direction: column-reverse;
    gap: 16px;
    padding: 16px;
}

/* Estilos para la información en la presentación */
.container-presentacion-informacion {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

/* Estilos para el título de la presentación */
.title-presentacion {
    font-size: 22px;
    font-weight: bold;
}

/* Estilos para el texto de la presentación */
.text-presentacion {
    font-size: 14px;
    font-weight: 400;
}

/* Estilos para la lista de redes sociales en la presentación */
.lista-presentacion-redes-sociales {
    display: flex;
    gap: 8px;
    list-style: none;
}

/* Estilos para los elementos de la lista de redes sociales */
.item-presentacion-redes-sociales {
    font-size: 14px;
    font-weight: 600;
}

/* Estilos para los enlaces de redes sociales en la presentación */
.presentacion-redes-sociales-link {
    color: var(--color-de-letra);
    text-decoration: none;
}

/* Estilos para el icono de la presentación */
i.fa-solid.fa-arrow-up-right-from-square.fa-sm {
    color: var(--color-de-letra);
}

/* Estilos para la imagen de perfil en la presentación */
.presentacion-imagen-perfil {
    border-radius: 50%;
    height: 98px;
    width: 98px;
}

/* -------- Fin de Estilos de Presentación -------- */

/* -------- Sección "Sobre mí" -------- */

/* Estilos para la sección "Sobre mí" y su contenido */
.container-sobre-mi {
    background-color: var(--color-de-fondo-secundario);
}

/* Estilos para el contenedor de la sección "Sobre mí" */
.sobre-mi {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 16px;
}

/* Estilos para el título de la sección "Sobre mí" */
.title-sobre-mi {
    font-size: 22px;
    font-weight: bold;
}

/* Estilos para el texto en la sección "Sobre mí" */
.text-sobre-mi {
    font-size: 14px;
    font-weight: 400;
}

/* Estilos para la firma en la sección "Sobre mí" */
.firma-sobre-mi {
    height: 90px;
    width: 140px;
}

/* -------- Fin de Estilos de Sección "Sobre mí" -------- */

/* -------- Contenedor de habilidades y pasatiempos -------- */

/* Estilos para el contenedor de habilidades y pasatiempos */
.container-skills-and-hobbies {
    padding: 16px;
}

/* Estilos para la sección de habilidades */
.skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

/* Estilos para los títulos en habilidades */
.container-skills-and-hobbies h1.title-skills {
    font-size: 22px;
    font-weight: bold;
    text-align: center;
}

/* Estilos para la sección de pasatiempos */
.container-skills-and-hobbies h1.title-hobbies {
    font-size: 22px;
    font-weight: bold;
    text-align: center;
}

/* Estilos para las listas de habilidades y pasatiempos */
.container-skills-and-hobbies ul.lista-skills,
.container-skills-and-hobbies ul.lista-hobbies {
    display: grid;
    gap: 32px 16px;
    list-style: none;
    grid-template-columns: 1fr 1fr;
}

/* Estilos para los elementos de la lista de habilidades y pasatiempos */
.container-skills-and-hobbies li.item-skills,
.container-skills-and-hobbies li.item-hobbies {
    background-color: var(--color-de-fondo-terciario);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.06);
    display: flex;
    flex-direction: column;
    font-size: 16px;
    font-weight: bold;
    gap: 20px;
    height: 118px;
    justify-content: flex-end;
    padding: 16px;
    width: 156px;
}

/* Estilos para los iconos en la sección de habilidades y pasatiempos */
.container-skills-and-hobbies i {
    color: var(--color-de-botones);
}

/* Estilos para la sección de pasatiempos */
.hobbies {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    padding-top: 16px;
}

/* -------- Fin de Estilos de habilidades y pasatiempos -------- */

/* -------- Formación académica -------- */

/* Contenedor principal para la sección de formación académica */
.container-formacion-academica {
    background-color: var(--color-de-fondo-secundario);
    padding: 32px;
}

/* Título de la sección de formación académica */
.title-formacion-academica {
    font-size: 22px;
    font-weight: bold;
    text-align: center;
}

/* Contenedor flexible para las tarjetas de formación académica */
.formacion-academica {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

/* Estilo individual para cada tarjeta de formación académica */
.cards-formacion-academica {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding-top: 32px;
}

/* Contenedor para el logo en cada tarjeta */
.container-card-imagen-formacion-academica {
    align-items: center;
    background-color: var(--color-de-fondo-terciario);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.06);
    display: flex;
    gap: 8px;
    height: 118px;
    justify-content: center;
    width: 296px;
}

/* Ajuste de imagen del logo en el contenedor */
.container-card-imagen-formacion-academica img.logo-formacion-academica {
    display: block;
    object-fit: cover;
    padding: 16px;
}

/* Tamaño del logo en la primera tarjeta */
.cards-formacion-academica:nth-of-type(1) .logo-formacion-academica {
    height: 100px;
    width: 100px;
}

/* Tamaño del logo en la segunda tarjeta */
.cards-formacion-academica:nth-of-type(2) .logo-formacion-academica {
    height: 80px;
    width: 80px;
}

/* Tamaño del logo en la tercera tarjeta */
.cards-formacion-academica:nth-of-type(3) .logo-formacion-academica {
    height: 100px;
    width: 200px;
}

/* Contenedor de texto en cada tarjeta */
.text-container {
    width: 296px;
}

/* Título del curso en cada tarjeta de formación académica */
.title-formacion-academica-curso {
    font-size: 16px;
    font-weight: bold;
}

/* Descripción del curso en cada tarjeta de formación académica */
.text-formacion-academica {
    font-size: 14px;
    font-weight: 400;
}

/* -------- Fin de Estilos de Formación académica -------- */

/* -------- Experiencia Profesional -------- */

/* Contenedor principal para la sección de experiencia profesional */
.container-experiencia-profesional {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 64px;
    justify-content: center;
    padding: 32px;
}

/* Título de la sección de experiencia profesional */
.title-experiencia-profesional {
    font-size: 22px;
    font-weight: bold;
    text-align: center;
}

/* Contenedor flexible para las tarjetas de experiencia profesional */
.experiencia-profesional {
    height: 251px;
    width: 296px;
}

/* Contenedor para la imagen en cada tarjeta de experiencia profesional */
.container-card-imagen-experiencia-profesional {
    padding: 16px 0;
}

/* Miniatura en cada tarjeta de experiencia profesional */
.miniatura-experiencia-profesional {
    height: 144px;
    width: 296px;
}

/* Contenedor de contenido en cada tarjeta de experiencia profesional */
.contenido-container-experiencia-profesional {
    display: flex;
    flex-direction: column;
    gap: 8px;
    justify-content: center;
}

/* Título del proyecto en cada tarjeta de experiencia profesional */
.title-experiencia-profesional-proyecto {
    font-size: 16px;
}

/* Descripción del proyecto en cada tarjeta de experiencia profesional */
.text-experiencia-profesional {
    font-size: 14px;
    font-weight: 400;
}

/* Contenedor de botones en cada tarjeta de experiencia profesional */
.botones-container-experiencia-profesional {
    display: flex;
    gap: 16px;
}

/* Estilo común para los botones de repositorio y página */
.boton-repositorio-experiencia-profesional,
.boton-pagina-experiencia-profesional {
    align-items: center;
    display: flex;
    font-size: 14px;
    font-weight: 600;
    height: 40px;
    justify-content: center;
    text-decoration: none;
}

/* Botón personalizado para el repositorio */
.boton-repositorio-experiencia-profesional-custom {
    font-size: 13px;
}

/* Estilo para el botón de repositorio */
.boton-repositorio-experiencia-profesional {
    border: 1px solid var(--color-de-botones);
    color: var(--color-de-botones);
    width: 108px;
}

/* Estilo para el botón de la página */
.boton-pagina-experiencia-profesional {
    background-color: var(--color-de-botones);
    color: var(--color-de-fondo-terciario);
    width: 96px;
}

/* -------- Fin de Estilos de Experiencia profesional -------- */

/* -------- Sección de Contacto -------- */

/* Contenedor principal para la sección de contacto */
.container-contacto {
    padding: 32px;
    background-color: var(--color-de-fondo-secundario);
}

/* Miniatura en la sección de contacto */
.miniatura-contacto {
    display: none;
}

/* Contenedor flexible para la sección de contacto */
.contacto {
    display: grid;
    gap: 8px;
}

/* Contenedor del formulario de contacto */
.form-contacto {
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding-top: 32px;
}

/* Estilos para los campos de entrada del formulario de contacto */
.input-contacto:nth-child(1),
.input-contacto:nth-child(2),
.input-contacto:nth-child(3),
.input-contacto:nth-child(4) {
    border: none;
    border-bottom: gray solid 3px;
    border-radius: 5px;
    display: grid;
    font-size: 16px;
    font-weight: 400;
    gap: 4px;
    height: 56px;
    padding: 12px;
    width: 296px;
}

/* Estilo específico para el cuarto campo de entrada del formulario de contacto */
.input-contacto:nth-child(4) {
    height: 133px;
    resize: vertical;
}

/* Estilos para los placeholders de los campos de entrada del formulario de contacto */
.input-contacto::placeholder {
    color: var(--color-de-botones);
}

/* Estilos para el botón de contacto */
.button-contacto {
    background-color: var(--color-de-botones);
    border: none;
    color: var(--color-de-fondo-terciario);
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    height: 40px;
    width: 133px;
}

/* -------- Fin de Estilos de Contacto -------- */

/* -------- Pie de Página -------- */

/* Contenedor del pie de página */
.container-pie-de-pagina {
    align-items: center;
    display: flex;
    height: 102px;
    justify-content: center;
    padding: 32px;
    width: 100%;
}

/* Estilos para el texto del pie de página */
.texto-pie-de-pagina {
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    width: 229px;
}

/* -------- Fin de Estilos de Pie de Página -------- */

/* -------- Desarrollo Tablet -------- */

@media (min-width: 768px) {

    /* -------- Cabecera -------- */
    .container-cabecera {
        gap: 149px;
        padding: 16px 32px;
    }

    .logo-cabecera {
        height: 55px;
        width: 55px;
    }

    .menu-item {
        font-size: 18px;
        font-weight: 500;
    }

    .menu-lista {
        display: flex;
        gap: 32px;
    }

    .menu-contacto-link {
        font-size: 16px;
    }

    /* -------- Fin de Cabecera -------- */

    /* -------- Presentación -------- */
    .container-presentacion {
        align-items: center;
        display: flex;
        flex-direction: row;
        padding: 32px;
    }

    .container-presentacion-informacion {
        display: flex;
        gap: 8px;
    }

    .text-presentacion {
        font-size: 16px;
        font-weight: 400;
    }

    .lista-presentacion-redes-sociales {
        display: flex;
        gap: 32px;
        list-style: none;
    }

    .item-presentacion-redes-sociales {
        font-size: 16px;
        font-weight: 500;
    }

    .presentacion-imagen-perfil {
        height: 146px;
        width: 146px;
    }

    /* -------- Fin de Presentación -------- */

    /* -------- Sobre mí -------- */
    .sobre-mi {
        padding: 32px;
    }

    /* -------- Fin de Sobre mí -------- */

    /* -------- Habilidades y Pasatiempos -------- */
    .container-skills-and-hobbies {
        padding: 32px;
    }

    .container-skills-and-hobbies li.item-skills,
    .container-skills-and-hobbies li.item-hobbies {
        width: 224px;
    }

    .container-skills-and-hobbies ul.lista-skills,
    .container-skills-and-hobbies ul.lista-hobbies {
        display: grid;
        gap: 32px 16px;
        grid-template-columns: 1fr 1fr 1fr;
    }

    /* -------- Fin de Habilidades y Pasatiempos -------- */

    /* -------- Formación Académica -------- */
    .formacion-academica {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .container-card-imagen-formacion-academica {
        height: 118px;
        width: 224px;
    }

    .text-container {
        height: 118px;
        width: 224px;
    }

    /* -------- Fin de Formación Académica -------- */

    /* -------- Experiencia Profesional -------- */
    .container-experiencia-profesional {
        align-items: center;
        display: grid;
        gap: 64px;
        justify-content: center;
    }

    .experiencia-profesional {
        height: 427px;
        width: 704px;
    }

    .miniatura-experiencia-profesional {
        height: 320px;
        width: 704px;
    }

    /* -------- Fin de Estilos de Experiencia Profesional -------- */

    /* -------- Sección de Contacto -------- */
    .input-contacto:nth-child(1),
    .input-contacto:nth-child(2),
    .input-contacto:nth-child(3),
    .input-contacto:nth-child(4) {
        width: 704px;
        height: 56px;
    }

    .input-contacto:nth-child(4) {
        height: 133px;
        resize: vertical;
    }

    /* -------- Fin de Estilos de Contacto -------- */
}

/* -------- Fin de Desarrollo Tablet -------- */

/* -------- Desarrollo desktop -------- */

@media (min-width: 992px) {

    /* -------- Contenedor Principal -------- */
    .container-main {
        padding-top: 100px;
    }

    /* -------- Fin de Contenedor Principal -------- */

    /* -------- Cabecera -------- */
    .container-cabecera {
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        gap: 114px;
        min-height: 85px;
        padding: 0 32px;
        position: fixed;
        transition: background-color 0.5s ease, box-shadow 0.5s ease;
        z-index: 1000;
    }

    .logo-cabecera {
        height: 70px;
        width: 70px;
    }

    .title-cabecera {
        font-size: 16px;
    }

    .menu-item:nth-child(1),
    .menu-item:nth-child(2),
    .menu-item:nth-child(3),
    .menu-item:nth-child(4),
    .menu-item:nth-child(5) {
        display: flex;
    }

    .menu-contacto-link {
        font-size: 16px;
    }

    /* -------- Fin de Cabecera -------- */

    /* -------- Presentación -------- */
    .container-presentacion {
        align-items: center;
        display: flex;
        flex-direction: row;
        padding-bottom: 61px;
    }

    .container-presentacion-informacion {
        display: flex;
        gap: 24px;
        padding: 0 61px;
        width: 1136px;
    }

    .title-presentacion {
        font-size: 52px;
        font-weight: bold;
    }

    .text-presentacion {
        font-size: 22px;
        font-weight: 400;
    }

    .lista-presentacion-redes-sociales {
        display: flex;
        gap: 32px;
        list-style: none;
    }

    .item-presentacion-redes-sociales {
        font-size: 16px;
        font-weight: 500;
    }

    .presentacion-imagen-perfil {
        height: 368px;
        width: 368px;
    }

    /* -------- Fin de Presentación -------- */

    /* -------- Sobre mí -------- */
    .container-sobre-mi {
        padding: 64px;
        padding-top: 100px;
    }

    .sobre-mi {
        align-items: flex-start;
        display: flex;
        width: 1136px;
    }

    .title-sobre-mi {
        font-size: 32px;
    }

    .text-sobre-mi {
        font-size: 16px;
        width: 751px;
    }

    .firma-sobre-mi {
        height: 90px;
        width: 140px;
    }

    /* -------- Fin de Sobre mí -------- */

    /* -------- Habilidades y Pasatiempos -------- */
    .container-skills-and-hobbies {
        padding: 64px;
        padding-top: 100px;
    }

    .container-skills-and-hobbies h1.title-skills,
    .container-skills-and-hobbies h1.title-hobbies {
        font-size: 32px;
        font-weight: bold;
    }

    .container-skills-and-hobbies li.item-skills,
    .container-skills-and-hobbies li.item-hobbies {
        height: 174px;
        width: 176px;
    }

    .container-skills-and-hobbies ul.lista-skills,
    .container-skills-and-hobbies ul.lista-hobbies {
        align-items: center;
        display: flex;
        gap: 16px;
        justify-content: center;
        width: 1136px;
    }

    .hobbies {
        padding-top: 88px;
    }

    /* -------- Fin de Habilidades y Pasatiempos -------- */

    /* -------- Formación Académica -------- */
    .title-formacion-academica {
        font-size: 32px;
    }

    .container-formacion-academica {
        padding-top: 100px;
    }

    .formacion-academica {
        padding: 64px;
    }

    .cards-formacion-academica {
        align-items: center;
        display: flex;
        width: 1136px;
    }

    .container-card-imagen-formacion-academica {
        height: 286px;
        width: 368px;
    }

    .cards-formacion-academica:nth-of-type(1) .logo-formacion-academica {
        height: 192px;
        width: 192px;
    }

    .cards-formacion-academica:nth-of-type(2) .logo-formacion-academica {
        height: 192px;
        width: 192px;
    }

    .cards-formacion-academica:nth-of-type(3) .logo-formacion-academica {
        height: 192px;
        width: 192px;
    }

    .text-container {
        height: 286px;
        width: 368px;
    }

    /* -------- Fin de Formación Académica -------- */

    /* -------- Experiencia Profesional -------- */
    .container-experiencia-profesional {
        display: flex;
        justify-content: center;
        padding-top: 100px;
    }

    .experiencia-profesional {
        align-items: center;
        display: flex;
        flex-direction: row;
        gap: 16px;
        justify-content: flex-start;
        width: 1136px;
    }

    .container-experiencia-profesional .experiencia-profesional:nth-of-type(2),
    .container-experiencia-profesional .experiencia-profesional:nth-of-type(4) {
        display: flex;
        flex-direction: row-reverse;
    }


    .miniatura-experiencia-profesional {
        height: 406px;
        width: 752px;
    }

    /* -------- Fin de Estilos de Experiencia Profesional -------- */

    /* -------- Sección de Contacto -------- */
    .container-contacto {
        justify-content: center;
        padding: 64px;
        display: flex;
        gap: 16px;
    }

    .miniatura-contacto { 
        display: flex;
        height: 593px;
        width: 464px;
    }

    /* -------- Fin de Estilos de Contacto -------- */
}

/* -------- Fin de Desarrollo desktop -------- */